* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font-family: 'Roboto', 'Arial';
  background-image: linear-gradient(315deg, #f24e74, #4ef2d4);
}
div {
  font-family: 'Roboto', 'Arial';
  color: white;
  font-size: 10pt;
}

form {
  border: 5px;

}
#userFormArea {
  position:absolute;
  width: 80%;
  top: 50px;
  left: 5%;
  z-index: 10;
}
#userForm {
  position: absolute;
  padding: 3px;
  bottom: 0;
  width: 100%;
  z-index: 10;
  border: 1px #fff solid;
  border-radius: 10px;
  background: linear-gradient(70deg, rgba(213,213,213,1) 0%, rgba(255,255,255,1) 10%);
}
#username {
  border: 1;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
  background: linear-gradient(70deg, rgba(213,213,213,1) 0%, rgba(255,255,255,1) 10%);
}
#messageFormArea {
  background: linear-gradient(70deg, rgba(213,213,213,1) 0%, rgba(255,255,255,1) 10%);
  width: 100%;
  padding: 5px;
}
#messageForm { padding: 3px; bottom: 0; width: 80%; z-index: -1;}
#m {
  /* left: 10%; */
  position: relative;
  border: 1;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  margin-right: .5%;
  background: linear-gradient(70deg, rgba(213,213,213,1) 0%, rgba(255,255,255,1) 10%);
}

form button {
  width: 9%;
  background: #00ccff;
  border: 1;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Roboto', 'Arial';
  border: 1px #fff solid;

}

h2 {
  font-style: italic;
  z-index: 9999;
}

h3 {
  color: black;
  font-weight: normal;
}

.drawer{
  color: white;
  z-index: 9999;
}

.drawer:hover {
  color: red;
  z-index: 9999;
}

.synced-draggable {
  position: absolute;
  cursor: pointer;
  cursor: hand;
  display: inline;
  padding: 5px;
}

.button {
  width: 5%;
  height: 29px;
  border: none;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1;
}

.pointsize {
  padding: 10px;
  width: 5%;
  height: 29px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #00ccff;
  border: none;
}

.pointsize:hover {
  background-color: #00a5cf;
}

.pointsize:active {
  background-color: #00a5cf;
  transform: translateY(2px);
}

.pointsize:focus {
  background-color: #45d9ff;
  font-weight: bold;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
}

.threads{
  height:250px;
  width: 250px;
  word-wrap: break-all;
}

.stickerz{
  height: 50px;
  width: 50px;
}

.stuck{
  height: 150px;
  width: 150px;
}

#messageFormArea {
  display: none;
  position: fixed;
  bottom: 0;
}

#thingieBank{
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  padding: 10px;
  border: 1px #fff solid;
  border-radius: 10px;
  width: 142px;
  height: 42px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,51,253,1) 100%);
}

#slideSpAZe{
  position: fixed;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

#userlist{
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  position: relative;
  /* background-color: black; */
  padding: 10px;
  width: 300px;
  height: 300px;
  left: 250px;
  top: 200px;
  z-index: 1;
}

#creaturez {
  position: relative;
  top: 0px;
  left: 0px;
}

#p5canvas {
  position: fixed;
  width: 70%;
  height: 95%;
  left: 0;
  top: 0;
  z-index: -10;
}

#blueTag{
  /* background-color: #00ccff; */
  background: linear-gradient(70deg, rgba(46,252,255,1) 0%, rgba(13,171,233,1) 100%);
  padding: 10px;
  border: 1px #fff solid;
  border-radius: 10px;
  top: 90px;
  z-index: 1;
}

#redTag{
  background: linear-gradient(70deg, rgba(255,202,212,1) 0%, rgba(255,0,46,1) 70%);
  padding: 10px;
  border: 1px #fff solid;
  border-radius: 10px;
  top: 90px;
  z-index: 1;
}

#yellowTag{
  background: linear-gradient(70deg, rgba(249,255,46,1) 0%, rgba(233,199,13,1) 100%);
  padding: 10px;
  border: 1px #fff solid;
  border-radius: 10px;
  top: 90px;
  z-index: 1;
}

#bluebtn{
  background: linear-gradient(70deg, rgba(46,252,255,1) 0%, rgba(13,171,233,1) 100%);
  padding: 10px;
  border: 1px #fff solid;
  border-radius: 10px;
}

#redbtn{
  background: linear-gradient(70deg, rgba(255,202,212,1) 0%, rgba(255,0,46,1) 70%);
  padding: 10px;
  border: 1px #fff solid;
  border-radius: 10px;
}

#yellowbtn{
  background: linear-gradient(70deg, rgba(249,255,46,1) 0%, rgba(233,199,13,1) 100%);
  padding: 10px;
  border: 1px #fff solid;
  border-radius: 10px;
}
